.card {
       
          
    margin-bottom: 20px;
    margin-left:30px;
    border: 1px solid #cfd3d4;
    padding-bottom:20px;
  
   
    
    
.avatar{
margin-right:-150px;
    .image {
        padding-top: 30px;
        font-size: 20px;
        width:50%;
        
       
    }
}
    .title {
        
        font-size: 30px;
        align-content: left;
    }
    .buttons {
        size:'large';
        
    }
   .description {
       font-size: 20px;
}
}

