.container {
  .heading {
    padding-left: 50px;
    h3 {
      font-weight: 400;
      font-size: 60px;
    }
    p {
      font-size: 35px;

      padding-bottom: 40px;
      text-align: left;
    }
  }
  .description {
    padding-left: 50px;
    padding-right: 20px;
    font-size: 20px;
  }
  .timeline {
    padding-left: 50px;
    .icon {
      height: 30px;
      color: "red";
    }
  }
}

.mobile {
  .heading {
    padding-left: 40px;
    h3 {
      font-weight: 400;
      font-size: 30px;
      padding-top: 10px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      padding-bottom: 10px;
    }
  }
  .description {
    padding-left: 40px;
    font-size: 18px;
    padding-bottom: 25px;
  }
  .timeline {
    padding-left: 30px;
    .icon {
      height: 30px;
      color: "red";
    }
  }
}
