

        .heading {
            padding-left:60px;
            h2{
                
            font-size: 40px;
            padding-top: 60px;
            
            text-align: left;
        }
        p {
           
            
            font-size: 35px;
            
            
            padding-bottom: 60px;
            text-align: left;
        }
       .timeline{
            .icon{
                height:30px;
                color:'red';
            }
        
        }
    
    }

   
       
    
    
        
 


    
   
    .mobile {
        .top {
            padding: 30px 20px 0 20px;
        }
        .description {
            background-color: #fff;
            width: 100%;
            padding-right: 50px;
            padding-left: 50px;
            font-size: 20px;
            padding-bottom: 40px;
            text-align: center;

            h2 {
                color: #548064;
                padding-bottom: 20px;
                padding-top: 50px;
            }
            .icon {
                padding-right: 7px;
                color: #548064;
            }
        }
        .imageContainer {
            width: 50%;
            padding-top: 0px;
            padding-right: 0px;
            text-align: center;

            .image {
                width: 90%;
                padding-right: 0px;
            }
        }
    }

